<!DOCTYPE html>
<html>
<head>
  <h1>Dice Roll</h1>
</head>

<body>
  <ul>
    <a href="/dice/2/6" target="_blank"> 
    Roll two 6-sided dice <br>
    </a>
      
    <a href="/dice/2/10" target="_blank"> 
    Roll two 10-sided dice <br>
    </a>

    <a href="/dice/1/20" target="_blank"> 
    Roll one 20-sided dice <br>
    </a>

    <a href="/dice/5/4" target="_blank"> 
    Roll five 4-sided dice <br>
    </a>

    <a href="/dice/100/6" target="_blank"> 
    Roll one hundred 6-sided dice <br>
    </a>
  </ul>
</body>
</html>
